<div>
    <div class="container mt-1">
        <div class="background-container" style="background-color: rgb(238, 234, 234);">
          <div class="parent-container">
          
          </div>
      
      
      
          <h1 class="text-center text-black">connextech</h1>
      
          <div class="d-flex align-items-start">
      
          
            <div class="col-md-6 mb-3">
              <form class="mt-4 rounded p-3" style="background-image: url('assets/iphone.jpg'); background-size: cover; background-position: center;">
                <div class="form-row">
      
                  <div class="col-md-4 mb-3">
                    <label for="one">nom</label>
                    <input [(ngModel)]="myCommande.title" type="text" class="form-control" name="name" id="one" placeholder="Name">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="two">Prix</label>
                    <input [(ngModel)]="myCommande.prix" type="text" class="form-control" name="prix" id="two" placeholder="Prix">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="three">URL Images</label>
                    <input [(ngModel)]="myCommande.image" type="text" class="form-control" name="image" id="three" placeholder="assets/">
                  </div>

                  <div class="col-md-4 mb-3"   >
                    <label for="three">description</label>
                    <input [(ngModel)]="myCommande.desc" type="text" class="form-control" name="description" id="three" placeholder="description de produit">
                  </div>


                </div>
                <button *ngIf="!myCondition" (click)="ajouter(myCommande)" type="button" class="custom-button custom-purple btn btn-success">
                  <i class="bi bi-plus  "></i> ajouter
                </button>
                <button *ngIf="myCondition" (click)="updateProduct(myCommande)" type="button" class="custom-button custom-gray btn btn-danger">
                  <i class="bi bi-pencil  "></i> Update
                </button> 
              </form>
            </div>
    
          <!-- Colonne pour les produits -->
          <div class="album py-5 bg-light">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <table class="table table-hover ">
                  <thead class="overlayy">
                    <tr>
                      
                      <th></th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Prix</th>
                      <th></th>
                    </tr>
                  </thead >
                  <tbody >
                    <tr *ngFor="let p of products">
                      <td >
                        <button (click)="editCommande(p)" type="button" class="custom-button custom-warning ml-2 btn btn-info">Modifier</button>
                      </td >
                     <!-- <td >
                        <button (click)="ajouter(p)" type="button" class="custom-button custom-warning ml-2 btn btn-info">ajouter</button>
                      </td >-->
                     
                      <td>{{p.id}}</td>
                      <td>{{p.title}}</td>
                      <td>{{p.prix}}</td>
                     
                      <td>
                        <button (click)="supprimerproduits(p.id)" type="button" class="custom-button custom-danger btn btn-danger">Supprimer</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    
    <!--
        
    
    -->
    