nav a
{ 
 text-decoration: none; 
 display:inline-block; 
 margin : 0px; 
 padding:5px; 
 color:rgb(30, 19, 4);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 border-right:solid rgb(23, 23, 26) 3px ;
 color: white;
} 
nav
{ 
 background-color: #4492b3; 
} 
a:active 
{ 
 color:black; 
}
.active {
    background-color : rgb(203, 131, 23)
}